<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div ng-controller="nameCtrl as fc" class="col-md-6">
      <h2 >Name Editing:</h2>
      <p ng-repeat="w in fc.widgets"><input ng-model="w.name"> : <span ng-bind="w.value"></span></p>
      <hr>
      <button ng-click="fc.addWidget()">Add</button>
    </div>
    <div ng-controller="valueCtrl as sc" class="col-md-6">
      <h2>Value Editing:</h2>
      <p ng-repeat="w in sc.widgets"><span ng-bind="w.name"></span> : <input ng-model="w.value"></p>
      <hr>
      <button ng-click="sc.addWidget()">Add</button>
    </div>
  </div>
</div>

