<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div ng-controller="firstCtrl as fc" class="col-md-6">
      <h2 >First: <span ng-bind="fc.mycount"></span> of <span ng-bind="fc.widget.value()"> </span></h2>
      <p ng-repeat="w in fc.widget.widgets"><span ng-bind="w.name"></span> : <span ng-bind="w.value"></span></p>
      <hr>
      <input ng-model="fc.newWidget.name">
      <input ng-model="fc.newWidget.value">
      <button ng-click="fc.addWidget()">Add</button>
    </div>
    <div ng-controller="secondCtrl as sc" class="col-md-6">
      <h2 >First: <span ng-bind="sc.mycount"></span> of <span ng-bind="sc.widget.value()"> </span></h2>
      <p ng-repeat="w in sc.widget.widgets"><span ng-bind="w.name"></span> : <span ng-bind="w.value"></span></p>
      <hr>
      <input ng-model="sc.newWidget.name">
      <input ng-model="sc.newWidget.value">
      <button ng-click="sc.addWidget()">Add</button>
    </div>
  </div>
</div>

