<div>
      Family:
    <input ng-model="mc.name">
    <p ng-bind="mc.name"></p>
    <hr>

    <div ng-controller='SecondController as sc'>
      First:
      <input ng-model="sc.name">
      <p><span ng-bind="sc.name"></span> <span ng-bind="mc.name"></span></p>
    </div>
    <div ng-controller='SecondController as sc'>
      First:
      <input ng-model="sc.name">
      <p><span ng-bind="sc.name"></span> <span ng-bind="mc.name"></span></p>
    </div>
  </div>
<a ui-sref="name.details" class="click-me">Show more</a>
  <ui-view></ui-view>
