<div class="row text-center">
    <h3>Testing Merging $http calls</h3>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-2">
    <h4>Select Traits</h4>
  </div>
  <div class="col-sm-6">
    <label ng-repeat="trait in vm.traits" style="margin-right: 10px;">
      <input type="checkbox" ng-model="trait.selected">
      <span ng-bind='::trait.label'></span>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-2">
    <h4>Select IDs</h4>
  </div>
  <div class="col-sm-6">
    <label ng-repeat="id in vm.ids" style="margin-right: 10px;">
      <input type="checkbox" ng-model="id.selected">
      <span ng-bind='::id.value'></span>
    </label>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-2">
    <button class="btn btn-info" ng-click="vm.go()">Generate Table</button>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-warning" ng-click="vm.clear()">Clear!</button>
  </div>
</div>

<div class="row" ng-show="vm.results.length > 0" style="margin-top: 20px;">
  <div class="col-sm-offset-2 col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th ng-repeat="s in vm.selectedTraits" ng-bind="s.label"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="r in vm.results">
          <th ng-bind="r.id"></th>
          <td ng-repeat="s in vm.selectedTraits" ng-bind="r[s.data]"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
